In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Coihaique,CL,2020-08-17 15:24:02,-45.58,-72.07,46.40,83,90,9.17
1,1,Mao,ES,2020-08-17 15:24:04,39.89,4.27,84.20,66,20,8.05
2,2,Miyako,JP,2020-08-17 15:24:04,39.64,141.95,72.54,88,100,1.34
3,3,Opuwo,NaN,2020-08-17 15:24:04,-18.06,13.84,84.81,14,0,14.54
4,4,Mar Del Plata,AR,2020-08-17 15:19:23,-38.00,-57.56,54.00,43,0,13.87

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mao,ES,2020-08-17 15:24:04,39.89,4.27,84.20,66,20,8.05
5,5,Vega De Alatorre,MX,2020-08-17 15:24:04,20.03,-96.63,82.33,68,77,5.99
9,9,Butaritari,KI,2020-08-17 15:24:05,3.07,172.79,81.16,60,41,4.99
12,12,Komsomolskiy,UZ,2020-08-17 15:24:06,40.43,71.72,80.60,61,95,4.70
14,14,Hithadhoo,MV,2020-08-17 15:24:06,-0.60,73.08,84.58,70,82,6.04
15,15,Katsuura,JP,2020-08-17 15:24:06,35.13,140.30,84.00,88,34,5.14
21,21,Lichtenfels,DE,2020-08-17 15:24:08,50.15,11.06,77.00,55,97,6.82
24,24,Kailua,US,2020-08-17 15:20:48,21.40,-157.74,78.80,69,20,10.29
25,25,Bossangoa,CF,2020-08-17 15:24:09,6.49,17.46,82.08,83,16,2.01
26,26,Atuona,PF,2020-08-17 15:24:09,-9.80,-139.03,78.08,73,0,17.18

In [11]:
preferred_cities_df.count()

City_ID       231
City          231
Country       231
Date          231
Lat           231
Lng           231
Max Temp      231
Humidity      231
Cloudiness    231
Wind Speed    231
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp    Lat     Lng Hotel Name
1                Mao      ES     84.20  39.89    4.27
5   Vega De Alatorre      MX     82.33  20.03  -96.63
9         Butaritari      KI     81.16   3.07  172.79
12      Komsomolskiy      UZ     80.60  40.43   71.72
14         Hithadhoo      MV     84.58  -0.60   73.08
15          Katsuura      JP     84.00  35.13  140.30
21       Lichtenfels      DE     77.00  50.15   11.06
24            Kailua      US     78.80  21.40 -157.74
25         Bossangoa      CF     82.08   6.49   17.46
26            Atuona      PF     78.08  -9.80 -139.03

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mao,ES,84.20,39.89,4.27,ARTIEM Capri
5,Vega De Alatorre,MX,82.33,20.03,-96.63,Hotel Deluxe
9,Butaritari,KI,81.16,3.07,172.79,Isles Sunset Lodge
12,Komsomolskiy,UZ,80.60,40.43,71.72,Ikathouse
14,Hithadhoo,MV,84.58,-0.60,73.08,Scoop Guest House
15,Katsuura,JP,84.00,35.13,140.30,Katsuura Hotel Mikazuki
21,Lichtenfels,DE,77.00,50.15,11.06,Korbstadthotel Krone
24,Kailua,US,78.80,21.40,-157.74,Sheffield House Bed & Breakfast
25,Bossangoa,CF,82.08,6.49,17.46,LA PERLE DE BOSTON
26,Atuona,PF,78.08,-9.80,-139.03,Villa Enata

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))