## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

import sys
sys.path.append('..')

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Salinopolis,BR,85.03,scattered clouds,-0.61,-47.36,Hotel Salinópolis
1,3,Luanda,AO,75.20,few clouds,-8.84,13.23,EPIC SANA Luanda
2,12,Puerto Ayora,EC,75.20,broken clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,13,Gat,IL,88.00,clear sky,31.61,34.76,רגע בנחת
4,14,Cabo San Lucas,MX,82.99,broken clouds,22.89,-109.91,Hotel Tesoro Los Cabos

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [95]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == "Lamar"),:]
vacation_end = vacation_df.loc[(vacation_df['City'] == "Lamar"),:]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == "Lufkin"),:]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == "Morgan City"),:] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == "Picayune"),:]

vacation_stop1

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
12,33,Lufkin,US,89.01,clear sky,31.34,-94.73,Courtyard by Marriott Lufkin

In [96]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()
start

array([33.67, -95.58], dtype=object)

In [99]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets


# Latitude-longitude pairs

fig = gmaps.figure()
roadtrip = gmaps.directions_layer(
    start, end, waypoints=[stop1,stop2,stop3],
    travel_mode='DRIVING')
fig.add_layer(roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,393,Lamar,US,84.20,clear sky,33.67,-95.58,Kings Inn Paris TX
1,33,Lufkin,US,89.01,clear sky,31.34,-94.73,Courtyard by Marriott Lufkin
2,642,Morgan City,US,87.80,scattered clouds,29.70,-91.21,Hampton Inn & Suites Morgan City
3,420,Picayune,US,86.00,scattered clouds,30.53,-89.68,Holiday Inn Express & Suites Picayune

In [102]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [103]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))